@import './../../style/_palette';

$dot-size1: 25%;
$dot-size2: 26%;

.header {
  width: 100%;
  //background: linear-gradient(162deg, #FFF 15%, #F0E295 80%, #97CDE7) no-repeat;
  background: lighten($success-clr, 20%);
  text-align: center;
  padding: 2rem;
  box-shadow: 0rem 0.5rem 1rem $shadow-clr;
  position: relative;
  white-space: nowrap;

  h1:after {
    display: block;
    content: attr(data-reflection-text);
    padding-top: 0;
    margin-top: 5px;
    color: transparent;
    //background: $shadow-clr;
    background-clip: text;
    transform: scale(1, -1);
    opacity: .2;
  }
}
