$font: Helvetica, sans-serif;
$root-font-size: 100%; //62.5%;

$success-clr: #23ee99;
$warning-clr: #ffad33;
$attention-clr: #ff4d94;

$shadow-clr: grey;

$serious-smile: #f09819;
$easy-smile: #edde5d;
$serious-calm: #0ed2f7;
$easy-calm: #b2fefa;
$serious-chill: #11ffbd;
$easy-chill: #aaffa9;
$serious-heat: #c21500;
$easy-heat: #f83600;
