$phone: 768px;
$tablet: 992px;
$desktop: 1200px;
$widescreen: 9999px;

@mixin use-for-device-smaller-than($size) {
  @media only screen and (max-width: $size) {
    @content;
  }
};

@mixin use-for-device-between($size-start, $size-end) {
  @media only screen and (min-width: $size-start) and (max-width: $size-end) {
    @content;
  }
}
