@import './palette';

html {
  box-sizing: border-box;
  //font-size: $root-font-size;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  //font-size: $root-font-size;
  //font-family: $font;
  position: relative;
  margin: 0;
  padding: 0;
}

@function radial-bubble($color, $size) {
  @return radial-gradient($color $size * 1%, transparent ($size + 1) * 1%);
}

html, body {
  background:
    radial-bubble(#FFF, 20),
    radial-bubble(#FFF, 20),
    darken($attention-clr, 20%);
  background-position: 0 0, 20px 20px;
  background-size:40px 40px;
}

#app {
  position: relative;

  .container {
    background: #FFF;
    margin-top: 3rem;
    box-shadow: 5px 5px 5px darken($attention-clr, 30%);
  }

  .app-body {
    max-width: 1200px;
    margin: auto;
    background: #FFF;

  }
}
