@import './palette';
@import './layout';

$font: Helvetica, sans-serif;
$root-font-size: 42px; //62.5%;

html {
  box-sizing: border-box;
  font-size: $root-font-size;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@include use-for-device-smaller-than($tablet) {
}


body {
  position: relative;
  margin: 0;
  padding: 0;

}

@function radial-bubble($color, $size) {
  @return radial-gradient($color $size * 1%, transparent ($size + 1) * 1%);
}

html, body {
  background:
    radial-bubble(#FFF, 20),
    radial-bubble(#FFF, 20),
    darken($attention-clr, 20%);
  background-position: 0 0, 20px 20px;
  background-size:40px 40px;
}

#app {
  position: relative;

  h1 { font-size: 3rem;}
  h2 { font-size: 2.5rem;}
  h3 { font-size: 2rem;}
  h4 { font-size: 1.5rem;}
  h5 { font-size: 1.2rem;}
  h6 { font-size: 1rem;}
  p, input, button, textarea, label { font-size: 1rem;}

  .container {
    background: #FFF;
    margin-top: 3rem;
    box-shadow: 5px 5px 5px darken($attention-clr, 30%);
  }

  .app-body {
    max-width: 1200px;
    margin: auto;
    background: #FFF;

  }
}
