@import '../../style/_palette';
@import '../../style/layout';

// $serious-smile: #f09819;
// $easy-smile: #edde5d;
// $serious-calm: #0ed2f7;
// $easy-calm: #b2fefa;
// $serious-chill: #11ffbd;
// $easy-chill: #aaffa9;
// $serious-heat: #c21500;
// $easy-heat: #f83600;

@keyframes hover {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(3px);
  }
}

@keyframes shadow-grow {
  from {
    transform: scale(1,1) translateX(-50%) rotateX(50deg);
  }
  to {
    transform: scale(1.5,1.5) translateX(-37.5%) rotateX(50deg);
  }
}

.history {
  @include use-for-device-smaller-than($tablet) {
    margin-top: 5rem;
  }

  &__winner-standfirst {
    //animation: hover 2s infinite alternate;
    background: radial-gradient(ellipse closest-corner, transparent 40%, #FFF, $easy-smile);
    position: relative;
    padding: 2rem 2rem 1rem 2rem;
    border-radius: 50%;

    h3 {
      position: relative;
      text-align: center;
      z-index: 1;
    }

    p {
      position: relative;
      z-index: 1;
    }

    h3 span {
      z-index: -1;
      opacity: .3;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $serious-smile;
      font-size: 11vh;
    }
  }

  &__winner-about {
    display: none;
  }

  &__list-item {
    margin-bottom: 6vh;
    position: relative;

    // shadow
    &::before {
      //animation: shadow-grow 2s infinite alternate;
      transform: translateX(-50%) rotateX(50deg);
      content: '\00a0';
      width: 60%;
      height: 20%;
      background: radial-gradient($easy-smile, #FFF 70%);
      position: absolute;
      bottom: -4vh;
      left: 50%;
      border-radius: 50%;
    }

  }
}
