@keyframes pop-letter {
  0% {
    position: relative; }
  7% {
    position: relative;
    transform: scale(2, 2); }
  10% {
    position: relative;
    transform: scale(1, 1);
    text-shadow: none; } }

html, body {
  background: radial-gradient(white 10%, transparent 11%), radial-gradient(#ffff66 20%, transparent 21%), radial-gradient(#ff6666 40%, transparent 41%), radial-gradient(#ff66ff 50%, transparent 51%), cyan;
  background-position: -40px -40px, -30px 0px, 10px 50px, 75px 75px;
  background-size: 200px 200px; }

.app-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap; }
  .app-loading span {
    font-size: 10vh;
    font-weight: bold;
    position: relative;
    display: inline-block; }
  .app-loading span:nth-child(1) {
    animation: pop-letter 10s 0s infinite; }
  .app-loading span:nth-child(2) {
    animation: pop-letter 10s 1s infinite; }
  .app-loading span:nth-child(3) {
    animation: pop-letter 10s 2s infinite; }
  .app-loading span:nth-child(4) {
    animation: pop-letter 10s 3s infinite; }
  .app-loading span:nth-child(5) {
    animation: pop-letter 10s 4s infinite; }
  .app-loading span:nth-child(6) {
    animation: pop-letter 10s 5s infinite; }
  .app-loading span:nth-child(7) {
    animation: pop-letter 10s 6s infinite; }
  .app-loading span:nth-child(8) {
    animation: pop-letter 10s 7s infinite; }
  .app-loading span:nth-child(9) {
    animation: pop-letter 10s 8s infinite; }
  .app-loading span:nth-child(10) {
    animation: pop-letter 10s 9s infinite; }
